// variables
$black: #1D1C1A;
$red: #810319;
$grey: #b3b3b3;
$backgroundGrey: rgba(179, 179, 179, 0.15);

$primaryfont: 'Montserrat', sans-serif;
$secondaryfont: 'Raleway', sans-serif;

.wrapper {
	max-width: 95%;
	margin: 0 auto;
}

body {
	font-family: $primaryfont;
}

.section__heading {
	padding: 5px 10px;
	margin-bottom: 20px;
	border: 1.5px solid $black;
	text-transform: uppercase;
	font-weight: 500;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.7em;
	letter-spacing: 1px;
	font-family: $secondaryfont;
	margin-top: 60px;
}