// variables
$black: #1D1C1A;
$red: #96152b;
$grey: #b3b3b3;
$backgroundGrey: rgba(179, 179, 179, 0.15);

$primaryfont: 'Montserrat', sans-serif;
$secondaryfont: 'Raleway', sans-serif;

.wrapper {
	max-width: 95%;
	margin: 0 auto;
}

body {
	font-family: $primaryfont;
}

.section__heading {
	padding: 10px 0;
	margin: 70px 0 40px 0;
	border-bottom: 1.5px solid $red;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.8em;
	letter-spacing: 1px;
	font-family: $secondaryfont;
}