.ourTeam {
	// background: $backgroundGrey;
}

.ourTeam__list {
	list-style: none;
	padding-top: 30px;
	padding-bottom: 80px;
}

.ourTeam__listItem {
	display: flex;
	position: relative;
	img {
		max-height: 400px;
		border: 1px solid $grey;
	}
}

.ourTeam__image--wrapper {
	border: 1px solid $linebreakGrey;
	padding: 5px;
}

.ourTeam__listItem--info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 50px;
	padding-right: 70px;
	h3 {
		font-size: 1.6em;
		margin-bottom: 20px;
		font-weight: 500;
		letter-spacing: 1px;
		position: relative;
	}
	h3:before {
		background-color: $red;
		bottom: -15px;
		content: "";
		height: 1px;
		width: 100%;
		position: absolute;
	}
	p {
		padding-top: 15px;
		line-height: 25px;
	}
}

.ourTeam__listItem--info:before {
	content: "";
	position: absolute;
	width: 50%;
	top: 20px;
	left: 200px;
	border-bottom: 1px solid $red;  
}

.ourTeam__listItem:nth-child(2) {
	flex-direction: row-reverse;
	padding-top: 100px;
	padding-bottom: 100px;
	.ourTeam__listItem--info {
		padding-left: 70px;
		padding-right: 50px;
		text-align: right;
		align-items: flex-end;
		h3 {
			text-align: right;
		}
	}
	.ourTeam__listItem--info:before {
		top: 130px;
		transform: translateX(200px);
	}
}

