.referrals {
	padding-bottom: 120px;
	background: $backgroundGrey;
	p {
		text-align: center;
		line-height: 1.5;
		max-width: 600px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}

.referrals__list {
	list-style: none;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	padding-top: 60px;
}

.referrals__listItem {
	padding: 15px 30px;
}

.referrals__logo {
	max-width: 300px;
	height: auto;
	transition: 0.2s ease-in;
}

.referrals__logo:hover {
	transform: scale(1.3);
}