.referrals {
	padding-bottom: 120px;
	p {
		text-align: center;
		line-height: 1.5;
		max-width: 600px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		font-style: italic;
	}
}

.referrals__list {
	list-style: none;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.referrals__listItem {
	padding: 20px 20px;
}

.referrals__logo {
	max-width: 350px;
	height: auto;
	transition: 0.2s ease-in;
}

.referrals__logo:hover {
	transform: scale(1.3);
}