.referrals {
	padding-bottom: 120px;
	.section__heading {
		// margin-bottom: 30px;
		// border: none;
		// padding: 0;
		// position: relative;
	}
	// .section__heading:before {
	// 	background-color: $red;
	// 	bottom: -10px;
	// 	content: "";
	// 	height: 2px;
	// 	width: 100%;
	// 	position: absolute;
	// }
	p {
		text-align: center;
		font-size: 1.1em;
		line-height: 25px;
	}
}

.referrals__list {
	list-style: none;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-around;
	padding-top: 30px;
}

.referrals__logo {
	max-width: 350px;
	height: auto;
	transition: 0.2s ease-in;
}

.referrals__logo:hover {
	transform: scale(1.3);
}