.services__list {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center; 
	text-transform: uppercase;
	font-weight: 600;
	color: $black;
	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;
		padding-top: 80px;
		padding-bottom: 100px;
	}
	i {
		font-size: 4.5em;
		padding-bottom: 20px;
	}
}