.testimonials {
	padding-bottom: 60px;
}

.testimonials__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

.testimonials__listItem {
	width: 35%;
	padding: 30px;
	margin: 30px;
	border: 1px solid $grey;
	height: auto;
}