// .testimonials {
// 	height: 1050px;
// }

.testimonials__list {
	list-style: none;
	column-count: 2;
}

.testimonials__listItem {
	padding: 10px;
	margin: 20px 5px;
	border: 1px solid $black;
	break-inside: avoid;
	display: inline-block;
}

.testimonials__listItem-wrapper {
	background: $backgroundGrey;
	padding: 15px;
}

.testimonials__listItem-event {
	margin-top: -40px;
	background: white;
	display: block;
	float: left;
	padding: 0 10px; 
	font-size: 1.1em
}

.testimonials__listItem-name {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.3em;
	padding-bottom: 5px;
}

.testimonials__listItem-quote {
	margin: 25px 15px 15px 15px;
	line-height: 1.5;
}

// responsive styling

@include respond-to("small") {
	.testimonials__list {
		column-count: 1;
	}
}

@include respond-to("extrasmall") {
	.testimonials__listItem-quote {
		margin: 0;
	}
}