.testimonials {
	padding-bottom: 60px;
}

.testimonials__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
}

.testimonials__listItem {
	width: 35%;
	padding: 30px;
	margin: 30px;
	border: 1px solid $grey;
}

.testimonials__listItem-event {
	transform: translateY(-40px);
	background: white;
	display: inline-block;
	padding: 0 10px; 
	font-size: 1.1em
}

.testimonials__listItem-name {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.3em;
	padding-bottom: 5px;
}

.testimonials__listItem-quote {
	margin: 25px 15px 15px 15px;
	line-height: 1.5;
}