article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, ul, li, p, a {
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 95%;
  margin: 0 auto; }

body {
  font-family: "Montserrat", sans-serif; }

.section__heading {
  padding: 10px;
  margin-bottom: 20px;
  border: 1.5px solid #810319;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.nav {
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
  z-index: 1; }

.nav__list {
  height: 60px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.nav__list-item {
  font-size: 0.9em;
  padding: 10px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase; }
  .nav__list-item a {
    text-decoration: none;
    color: #1D1C1A; }

.nav__list-item:hover {
  border-top: 1.5px solid #810319; }

.nav__list-item:active {
  border-top: 1.5px solid #810319; }

.header {
  border: 1px solid #1D1C1A;
  padding: 5px;
  color: #b3b3b3;
  margin-top: 60px; }

.header__wrapper--background {
  background: #1D1C1A; }

.header__header {
  padding-top: 70px;
  padding-left: 100px; }
  .header__header h1, .header__header h2 {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px; }
  .header__header h2 {
    font-size: 1.7em;
    font-weight: 500; }

.header__info-company {
  color: #810319;
  font-size: 4em;
  padding-bottom: 20px;
  font-weight: 700; }

.header__info-wrapper {
  display: flex;
  padding-bottom: 80px; }

.header__logo {
  text-align: right;
  padding-right: 50px;
  padding-left: 100px;
  padding-top: 30px; }

.header__info p {
  padding-right: 100px;
  padding-top: 30px;
  line-height: 25px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif; }

.header__info a {
  text-decoration: none;
  color: #810319; }

.services__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600; }
  .services__list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 80px;
    padding-bottom: 100px; }
  .services__list i {
    font-size: 4.5em;
    padding-bottom: 20px; }

.ourTeam__list {
  list-style: none; }
  .ourTeam__list li {
    display: flex; }
  .ourTeam__list li:nth-child(2) {
    flex-direction: row-reverse; }

.referrals__list {
  list-style: none;
  display: flex;
  flex: 1; }

.referrals__logo {
  width: 0 auto; }
